/*Layout styles
-----------------------------------------------------*/
.rightNavbar {
    display: flex;
    width: 120px;
    justify-content: space-between;
}
.navbarControls {
    color: rgba(30, 30, 30, 0.7);
    width: 50px;
    height: 50px;
    border: solid rgba(30, 30, 30, 0.7) 1px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}
.navbarControlsHover {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
#navbarCustom {
    background-color: rgb(199, 197, 197);
}
#loginIcon, #darkModeIcon {
    margin: auto;
}

/*------------------------------------------------------
Homepage styles
--------------------------------------------------------*/
.homepageContainer {
    justify-content: center;
    margin-top: 20px;
    text-align: center
}
.homepageText {
    font-style: italic;
}
.homepageButtonArea {
    margin: 20px auto 1rem;
}

/*-----------------------------------------------------------
Combinations:
Login - Register styles
-------------------------------------------------------------*/
.loginRegisterIconArea {
    width: 38px;
    height: 38px;
    display: flex;
}
.loginRegisterIcons {
    margin: auto;
}