/*Layout styles
-----------------------------------------------------*/
.leftNavbar {
    display: flex;
    width: 120px;
    justify-content: space-between;
}
.navbar-brand {
    margin-right: 0;
    width: 60px;
}
.rightNavbar {
    display: flex;
    width: 120px;
    justify-content: space-between;
}
.navbarControls {
    color: rgba(30, 30, 30, 0.7);
    width: 50px;
    height: 50px;
    border: solid rgba(30, 30, 30, 0.7) 1px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}
.navbarControlsHover {
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
}
#bootstrapLogo {
    margin: auto;
}
#navbarCustom {
    background-color: rgb(199, 197, 197);
}
#loginIcon, #darkModeIcon {
    margin: auto;
}

/*------------------------------------------------------
Homepage styles
--------------------------------------------------------*/
.homepageContainer {
    justify-content: center;
    margin-top: 20px;
    text-align: center
}
.homepageText {
    font-style: italic;
}
.homepageButtonArea {
    margin: 20px auto 1rem;
}

/*-----------------------------------------------------------
Combinations:
Login - Register styles
-------------------------------------------------------------*/
.loginRegisterIconArea {
    width: 38px;
    height: 38px;
    display: flex;
}
.loginRegisterIcons {
    margin: auto;
}
.showPassword, .confirmationStatus {
    width: 38px;
    display: flex;
    justify-content: center;
}
.confirmationStatus {
    display: none;
}
.showPasswordIcon, .confirmationStatusIcon {
    margin: auto;
}
.disabledButton {
    cursor: not-allowed;
}
.loginRegisterErrorText {

}
.loginRegisterPasswordSpecs {
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
    font-size: 14px;
}
.loginRegisterPasswordSpecsList {
    font-size: 12px;
}
#confirmIcon {
    color: red;
}
#outputField {
    display: flex;
    flex-direction: column;
}
#errorOutput {
    display: none;
    text-align: left;
}
#passwordOutput {
    align-self: center;
}